.profileCard {
  display: inline-block;
  border: 2px solid #2b2c2b;
  border-radius: 24px;
  text-align: center;
  padding: 24px 0;
  background-color: #f0f0f0;
  overflow: hidden;
  max-width: 800px;
  font-size: 24px;
  color: #808080;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profileImage {
  border-radius: 50%;
  background-color: #3d3c3c;
  width: 200px;
  margin: 0 auto 24px;
}

.profileName {
  font-size: 40px;
  font-weight: 700;
  color: #3d3c3c;
  margin-bottom: 24px;
}

.profileTag,
.profileLocation {
  font-size: 20px;
  margin-bottom: 24px;
}

.statsList {
  display: flex;
  background-color: #c0c0c0;
  color: black;
}

.statsItem {
  flex: 1;
  padding: 20px;
  border-top: 2px solid gray;
  border-right: 2px solid gray;
  text-align: center;
}

.statsItem:last-child {
  border-right: none;
}

.statValue {
  font-weight: 600;
  font-size: 28px;
}