.friendListItem {
  display: inline-block;
  border: 2px solid #2b2c2b;
  border-radius: 8px;
  text-align: center;
  padding: 16px 12px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 8px;
}

.itemTitle {
  font-size: 20px;
  margin: 8px 0;
}

.online {
  color: #2e8b57;
}

.offline {
  color: #b22222;
}